[2021-06-04 12:30] QAZIMAAZARSHAD opened #1 "Create a splash screen when application opens"
A splash screen with the logo of application must appear for 5 seconds when the application start then it should automatically close and then the home page window should appear.

https://cdn.dribbble.com/users/164756/screenshots/14613561/netflix-800x600-with-logo.gif

The splash screen should be like this.

[2021-06-04 12:37] QAZIMAAZARSHAD opened #2 "Change logo in title bar"
![image](https://user-images.githubusercontent.com/56196640/120801941-775bc500-c55f-11eb-9d9d-9bf1575320a0.png)

[2021-06-04 12:38] QAZIMAAZARSHAD opened #3 "Apply creative hover effect on all buttons"

[2021-06-04 12:46] QAZIMAAZARSHAD opened #4 "Validate user details form"
![image](https://user-images.githubusercontent.com/56196640/120802634-492ab500-c560-11eb-9dad-21d97228f165.png)

Form must not accept wrong inputs like :
Name = k56%
Contact = 983@gmajdk83hf\
Email = jdhd8h#$%

A warning must appear when a user makes illegal inputs.

[2021-06-04 12:47] QAZIMAAZARSHAD opened #5 "Change cursor to pointer when hovering on buttons"

[2021-06-04 12:56] QAZIMAAZARSHAD opened #6 "Disable maximize/minimize window option in "Check Tax Scheme" pop-up"
![image](https://user-images.githubusercontent.com/56196640/120803997-c571c800-c561-11eb-8fda-028bbe7ada34.png)

👆 This is the result when maximizing the "Check Tax Scheme" window.
Disable it, like it is in main window.

[2021-06-04 13:00] QAZIMAAZARSHAD opened #7 "Design a logo for this application"
This logo is to be used in the splash screen and title bar.

[2021-06-04 13:29] QAZIMAAZARSHAD opened #8 "Create a pop-up when exiting application"
![image](https://user-images.githubusercontent.com/56196640/120808493-c0fbde00-c566-11eb-8c52-a7738e992eaa.png)

[2021-06-04 13:49] QAZIMAAZARSHAD opened #9 "Reset button not vanishing income/deductions input"
On clicking the reset button only the output is reset, no effect on input values.

[2021-06-04 14:10] QAZIMAAZARSHAD opened #10 "Wrong result when taxable income becomes too large"
![image](https://user-images.githubusercontent.com/56196640/120814535-990f7900-c56c-11eb-8755-f520d2e18eed.png)

[2021-06-04 15:58] Khushi-sharma07 commented on #2
I want to contribute in this issue. Please assign it to me.

[2021-06-04 16:00] QAZIMAAZARSHAD commented on #2
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 16:03] Khushi-sharma07 commented on #2
Thank you!

[2021-06-04 17:35] Khushi-sharma07 commented on #8
I want to contribute in this issue. Please assign it to me.

[2021-06-04 17:39] QAZIMAAZARSHAD commented on #8
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 17:43] Khushi-sharma07 commented on #8
Thank you!

[2021-06-04 20:29] Kalyanjitdas commented on #5
hello! I am interested in completing this task. Can you please assign me the task.

[2021-06-04 20:48] Kalyanjitdas commented on #3
hello sir I am interested in completing this task can you please assign me this task.

[2021-06-05 02:53] QAZIMAAZARSHAD commented on #3
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 02:53] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 05:40] Kalyanjitdas commented on #5
ok thankyou for giving me this opportunity.

On Sat, Jun 5, 2021 at 8:24 AM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-05 05:42] Kalyanjitdas commented on #3
Thankyou.

On Sat, Jun 5, 2021 at 8:23 AM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-05 07:26] Khushi-sharma07 commented on #6
Please assign me this issue when the event begins. I want to contribute to it.

[2021-06-05 10:52] deek121477 commented on #4
I would like to work on this issue. Could you please assign me?

[2021-06-05 10:57] deek121477 commented on #9
I would like to work on this issue. Could you please assign me?

[2021-06-05 14:14] Sakalya100 commented on #7
Hello @QAZIMAAZARSHAD . Kindly assign this issue to me. I would like to contribute to this issue.

[2021-06-05 14:16] Sakalya100 commented on #6
Please assign this to me. I want to contribute to this.

[2021-06-05 14:22] Khushi-sharma07 commented on #1
I want to contribute to this. Please assign this issue to me when the event begins.

[2021-06-05 16:29] QAZIMAAZARSHAD commented on #9
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:30] QAZIMAAZARSHAD commented on #7
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:32] QAZIMAAZARSHAD commented on #6
@Khushi-sharma07 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

@Sakalya100 since this is an easy issue I cannot assign it to more than one person, if this issue remains unresolved then I will assign you.

[2021-06-05 16:32] QAZIMAAZARSHAD commented on #4
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:33] QAZIMAAZARSHAD commented on #1
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:36] QAZIMAAZARSHAD commented on #6
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 16:45] Khushi-sharma07 commented on #6
Thank you!

[2021-06-05 16:47] Khushi-sharma07 commented on #2
Can you please tell that what should be the logo image after changing the default one?
And the logo should also change for the pop-up (tax-scheme)

[2021-06-05 16:50] QAZIMAAZARSHAD commented on #2
@Khushi-sharma07 logo of this application is yet to be designed, see issue number https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/issues/7.

Wait till that issue gets soved.

[2021-06-05 16:51] Khushi-sharma07 commented on #2
Okay

[2021-06-05 17:05] Sakalya100 commented on #7
Thank you

[2021-06-05 17:06] Sakalya100 commented on #10
I would like to contribute to this task. Please assign me this .

[2021-06-05 17:10] QAZIMAAZARSHAD commented on #10
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 03:17] techabhi08 commented on #7
Hi @QAZIMAAZARSHAD i would like to contribute to this issue. Please assign me this issue.

[2021-06-06 03:19] techabhi08 commented on #4
Hello @QAZIMAAZARSHAD I would like to contibute to this. Please assign me this issue.

[2021-06-06 03:20] techabhi08 commented on #10
I would like to contribute to this issue. @QAZIMAAZARSHAD please assign me this.

[2021-06-06 04:07] techabhi08 commented on #8
I want to contribute to this issue. Please assign me this one.

[2021-06-06 07:55] Prateek027-S commented on #5
I want to contribute to this project by solving this issue. Please assign me the task.

[2021-06-06 08:00] Prateek027-S commented on #4
Hello, I want to solve this issue. Please assign me the task.

[2021-06-06 08:02] Prateek027-S commented on #9
I want to solve this issue. Please assign me this task.

[2021-06-06 08:06] Prateek027-S commented on #8
I want to solve this issue. Please assign me the task.

[2021-06-06 09:48] tannu945 commented on #10
I would like to contribute to this issue.

[2021-06-06 12:14] SahityaRoy commented on #7
Hii @QAZIMAAZARSHAD  i wanna work with this logo shall i

[2021-06-06 16:32] QAZIMAAZARSHAD commented on #10
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since this is a bug, I'll merge only the first PR which will completely resolve this issue.

[2021-06-06 16:45] QAZIMAAZARSHAD commented on #9
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since this is a bug, I'll merge only the first PR which will completely resolve this issue.

[2021-06-06 16:46] QAZIMAAZARSHAD commented on #8
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since many contributors are willing to resolve this issue only the best solution/design will be accepted.

[2021-06-06 16:47] QAZIMAAZARSHAD commented on #7
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 16:49] QAZIMAAZARSHAD commented on #5
@Prateek027-S since this is an easy issue I cannot assign it to more than one person.

You can look for any other issue or open new issues.

[2021-06-06 16:50] QAZIMAAZARSHAD commented on #4
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Since this is a bug, I'll merge only the first PR which will completely resolve this issue.

[2021-06-06 17:12] Sakalya100 commented on #6
Thank You

[2021-06-06 17:17] Prateek027-S commented on #5
@QAZIMAAZARSHAD Okay. No problem.

[2021-06-07 12:52] ShreyaKanodia commented on #10
I would like to work on this issue.
I have figured out the bug . @QAZIMAAZARSHAD
Please assign me this project under LGMSoC.

[2021-06-07 13:03] QAZIMAAZARSHAD commented on #10
@ShreyaKanodia go ahead, I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 05:48] ShreyaKanodia commented on #9
I have figured out a solution .
Please assign me the task @QAZIMAAZARSHAD for LGMSoC

[2021-06-08 07:01] QAZIMAAZARSHAD commented on #9
@ShreyaKanodia go ahead, I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-09 10:10] Khushijindal24 commented on #8
i want to contribute in this issue.please assign me this task

[2021-06-09 10:18] QAZIMAAZARSHAD commented on #8
@Khushijindal24 this issue has already been resolved see pull request https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/pull/13.
I'll merge this request tomorrow which will close this issue. You can always open another issue to improve the design if you have any better idea.

[2021-06-09 10:23] Khushijindal24 commented on #8
ok sir

[2021-06-09 14:47] techabhi08 commented on #2
@QAZIMAAZARSHAD can you assign this to me as well. I am interested in this

[2021-06-09 14:51] QAZIMAAZARSHAD commented on #2
@techabhi08 since this is a very basic issue I cannot assign it to more than one contributor.
Look for any other issues or open new issues.

[2021-06-09 14:53] techabhi08 commented on #2
ok

[2021-06-09 15:05] techabhi08 opened #19 "Make the size of window fixed so that full content is visible."
If the user is resizing the window the content is disappearing. This can be fixed so that the screen size remains the same.

![Screenshot (410)](https://user-images.githubusercontent.com/75834097/121379947-20d8f700-c962-11eb-800e-74cbc2901a3c.png)
![Screenshot (411)](https://user-images.githubusercontent.com/75834097/121379956-233b5100-c962-11eb-902f-beaf1c7b345d.png)

[2021-06-09 15:06] techabhi08 commented on #19
@QAZIMAAZARSHAD please assign me this new issue that I have created or should I directly submit the result?

[2021-06-09 15:12] QAZIMAAZARSHAD commented on #6
Good job @Khushi-sharma07.

I'll merge your PR tomorrow.

[2021-06-09 15:13] QAZIMAAZARSHAD commented on #19
Go ahead @techabhi08.

I'll assign you this soon.

[2021-06-09 15:20] techabhi08 commented on #19
Thank you

[2021-06-09 15:31] Khushi-sharma07 commented on #6
Thank you so much! @QAZIMAAZARSHAD

[2021-06-09 15:32] techabhi08 commented on #19
@QAZIMAAZARSHAD I have solved this issue but whatever changes I am making to my github file and contributing it, it is committing changes in another issue and no pull request is being created for this one. How should I resolve this?

[2021-06-09 15:39] QAZIMAAZARSHAD commented on #19
This should not happen.

Wait till I merge your previous PR, delete the latest commit in your PR you have done for this issue.

Once I merge that PR then generate a new PR by making changes for this issue, I hope that will solve the issue.

[2021-06-09 15:42] techabhi08 commented on #19
ok doing the same.

On Wed, 9 Jun 2021 at 21:09, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-09 15:45] techabhi08 commented on #19
I have done the change can you please confirm. Also is that issue number #10 resolved by my PR?

[2021-06-09 16:03] Shaishav0507 opened #20 "Create live server link"
Hey @QAZIMAAZARSHAD
Add the link in the description of the server live.
Thanks.

[2021-06-09 16:03] QAZIMAAZARSHAD commented on #19
No issue 10 is not resolved by your PR. Improve your code before anyone else sends a better solution.

[2021-06-09 16:04] techabhi08 commented on #19
@QAZIMAAZARSHAD have you merged the PR can i create a new one now?

[2021-06-09 16:09] QAZIMAAZARSHAD commented on #19
No LGM-Soc will start from 10 June.
Also, your PR for the wrong result issue is not solving the issue so you can close that.

Your changes for this issue #19 are perfectly fine you can make PR for this one.

[2021-06-09 16:15] QAZIMAAZARSHAD commented on #20
Do you mean, create a live server link of this application?

[2021-06-09 16:19] hellosafwaan commented on #1
Please Assign me this.

[2021-06-09 16:22] hellosafwaan commented on #4
I would like to solve this, please asign the issue to me.

[2021-06-09 16:23] Shaishav0507 commented on #20
Yes if it's possible.
Because in description, repo link is there

[2021-06-09 16:28] QAZIMAAZARSHAD commented on #4
Remember, Since this is a bug, I'll merge only the first PR which will completely resolve this issue.

[2021-06-09 16:31] QAZIMAAZARSHAD commented on #20
If you know how to generate a live server link for this application then go ahead.

Ping me here, once you create that link.

[2021-06-09 16:42] techabhi08 commented on #19
@QAZIMAAZARSHAD did you find the solution useful like is this issue resolved?

[2021-06-09 16:44] QAZIMAAZARSHAD commented on #19
Yes, I will merge your PR tomorrow morning.

[2021-06-09 16:46] techabhi08 commented on #19
OK Thanks a lot.

[2021-06-09 17:15] QAZIMAAZARSHAD commented on #10
Good job @ShreyaKanodia, I'll merge your PR tomorrow.

[2021-06-09 17:21] skimran2000 commented on #3
I am a LGM-SOC participant, can you please assign this issue to me

[2021-06-09 17:23] QAZIMAAZARSHAD commented on #3
Remember if you want your PR to be merged then your design should be better than the others.

[2021-06-09 17:23] skimran2000 commented on #3
okay

[2021-06-09 17:23] skimran2000 commented on #3
i have found an issue in the code with buttons

[2021-06-09 17:24] skimran2000 commented on #3
![Screenshot 2021-06-09 at 10 39 54 PM](https://user-images.githubusercontent.com/78163908/121400762-97cbbb00-c975-11eb-8f3f-627155de796d.png)

[2021-06-09 17:24] skimran2000 commented on #3
![Screenshot 2021-06-09 at 10 34 56 PM](https://user-images.githubusercontent.com/78163908/121400804-a74b0400-c975-11eb-8123-9c44e15791e6.png)

[2021-06-09 17:25] skimran2000 commented on #3
should i open a new issue?

[2021-06-09 17:31] QAZIMAAZARSHAD commented on #3
I think something's wrong with your system.
You can see screenshots in the Readme file, buttons are fine.

Try to clone the project again.

[2021-06-09 17:34] skimran2000 commented on #3
i have cloned twice but still the same issue
mine is macos, i have fixed the issue

[2021-06-09 17:37] QAZIMAAZARSHAD commented on #3
Okk, If you think everything's fine then open a new issue "Application not working fine in macOS".
I will review your PR and if it is fine I will merge it.

[2021-06-09 17:38] skimran2000 commented on #3
Okay

[2021-06-09 17:40] skimran2000 opened #23 "Application not working fine in macOS"
There are few button issues
![Screenshot 2021-06-09 at 10 34 56 PM](https://user-images.githubusercontent.com/78163908/121402730-debab000-c977-11eb-990f-f12bcfd9cfbf.png)

[2021-06-10 02:54] Prateek027-S commented on #4
Hey, @QAZIMAAZARSHAD  I wanted to ask if I can also add a button called 'Validate' which will validate each input in the Entry widget and show the warning if any of the input value fails to pass the Validation. Because if not, then it would try to Validate the input while the user is typing the entry giving unnecessary warnings.

[2021-06-10 04:10] jigar-sable commented on #20
I think we can't deploy this project to live server as this is not a flask or django or any web application.
It's basic python program which needs virtual environment to run it. So this is not possible.

[2021-06-10 05:18] shashwat-2077 commented on #8
@QAZIMAAZARSHAD sir please assign this issue to me

[2021-06-10 05:47] jigar-sable commented on #5
Hii, I want to work on this issue please assign me @QAZIMAAZARSHAD

[2021-06-10 07:10] QAZIMAAZARSHAD commented on #4
Fine @hellosafwaan.
Wait till I review your PR.

[2021-06-10 07:11] QAZIMAAZARSHAD commented on #4
No need for a button @Prateek027-S.
Also, since a PR has been made this issue will likely get closed.

[2021-06-10 07:36] QAZIMAAZARSHAD commented on #20
Yaa I already tried it I know.
But @Shaishav0507 opened this issue so I thought he might have some idea.

@Shaishav0507 if you also think it is not possible tell me I will close this issue.
But you have all the time to try.

[2021-06-10 07:44] Itashamodi commented on #8
i want to do this, assign me this kindlly

[2021-06-10 09:04] ambivert-sam commented on #7
Hey, @starrohan999 I'm a participant of LGMSOC'21 ​I would like to contribute to this issue will you please assign it to me

[2021-06-10 09:39] QAZIMAAZARSHAD commented on #5
@jigar-sable I will review your PR soon.

[2021-06-10 11:36] QAZIMAAZARSHAD commented on #8
@Itashamodi this issue has already been resolved by @shashwat-2077 and it will be closed soon.
You can look for any other issues or open a new one.

[2021-06-10 12:24] shantamsultania opened #31 "Add a Info/Learn more Button"
There are some things that the user may not understand like what do we mean by old tax, New Tax what is the formula being used to calculate the Tax.

To resolve this issue I am thinking of adding an Info Button in the result window that will help the user understand what is the meaning of these things.

#LGM-SOC

[2021-06-10 12:31] QAZIMAAZARSHAD commented on #31
Nice idea @shantamsultania.

Go ahead.

[2021-06-10 16:47] #10 closed

[2021-06-10 17:00] #8 closed

[2021-06-10 17:07] QAZIMAAZARSHAD commented on #23
@skimran2000 I'll review your PR soon.

[2021-06-10 17:17] #19 closed

[2021-06-10 17:22] #6 closed

[2021-06-10 17:26] skimran2000 commented on #23
okay

[2021-06-10 17:32] skimran2000 commented on #23
btw when i am trying to pull changes from upstream repo, I am getting an error:

command--> git pull upstream master
error-->          fatal: couldn't find remote ref master

Should it be --- git pull upstream main ?

[2021-06-10 17:34] QAZIMAAZARSHAD commented on #23
Yaa try it.

Or google it this is a common issue.

[2021-06-10 17:41] QAZIMAAZARSHAD commented on #7
Nice @Sakalya100.

But don't make PR's now.
Others are also working on this issue let's see their designs as well. The best will be accepted.

[2021-06-10 17:50] Sakalya100 commented on #7
Okay...So what should I do after making the logo. When Can I make the PR. Can you please tell @QAZIMAAZARSHAD

[2021-06-10 17:54] QAZIMAAZARSHAD commented on #7
When everyone is done with their logo designs and your design is the best then I will inform you to make PR.

[2021-06-10 20:23] hellosafwaan commented on #1
What kind of GIF/Img should be shown in the window?

[2021-06-11 02:25] skimran2000 commented on #23
I found another bug related to tax calculation. When annual income is less than deductions then also it is calculating the tax which is wrong because annual income should always be greater than deductions.
Once look into it if there is really a bug then i would like to raise an issue as i have corrected the error in code.

![Screenshot 2021-06-11 at 1 46 20 AM](https://user-images.githubuserconten

[2021-06-11 03:06] akash435 opened #35 "clear button"
Want to add a clear button beside the next button, so that if someone while entering details like name, contact, or email id, if he/she finds that he/she had written something wrong then, with clear button we can clear the data entered.
Using this clear button we don't need to manually delete the data entered.

for example , given screenshot of how button will look like
![clear](https://user-image

[2021-06-11 03:08] akash-rajak commented on #35
@QAZIMAAZARSHAD , please assign this issue to me under LGMSOC. I would like to add this clear button on the second page of enetring details.

[2021-06-11 04:01] akash435 opened #36 "details button"
Want to create a details button at the top of the third page, clicking on which we get the details entered by the user on the 2nd page, like his/her name, contact, email id.
And details will be displayed in form of message box.

for example,
I entered details like this,
![3](https://user-images.githubusercontent.com/57003737/121628772-88449300-ca97-11eb-8ff7-91183db2c149.png)

then on clicking on

[2021-06-11 04:03] akash-rajak commented on #36
@QAZIMAAZARSHAD , please assign this issue to me under LGMSOC. I would like to add this details button showing the details of the user on the top of third page.

[2021-06-11 05:49] kshitija-2001 commented on #7
I would like to work on this issue. please assign it to me under LCM Soc21.

[2021-06-11 05:57] #5 closed

[2021-06-11 05:59] QAZIMAAZARSHAD commented on #1
https://cdn.dribbble.com/users/164756/screenshots/14613561/netflix-800x600-with-logo.gif

Use application logo which is yet to be created in another issue.

[2021-06-11 06:05] Khushijindal24 commented on #36
sir i want to contribute in this issue please assign me this.

[2021-06-11 06:07] QAZIMAAZARSHAD commented on #23
Yes open this issue.

[2021-06-11 06:10] QAZIMAAZARSHAD commented on #35
Go ahead

[2021-06-11 06:55] akash-rajak commented on #35
@QAZIMAAZARSHAD , I have created a pull request
Also it is showing you have 3 conflicts , can you please guide me what this conflicts is about

[2021-06-11 06:57] skimran2000 commented on #23
What should the title of issue be?

[2021-06-11 07:02] QAZIMAAZARSHAD commented on #36
Okk,

but shift the user details box beside credits not at the top.
And change button name to user details.

[2021-06-11 07:03] QAZIMAAZARSHAD commented on #36
Ok,

remember only the first and the better solution will be accepted.

[2021-06-11 07:40] akash-rajak commented on #36
@QAZIMAAZARSHAD , Sir i have created my pull request for User details button, please check it

[2021-06-11 07:57] QAZIMAAZARSHAD commented on #35
@akash435 their have been some updates in the main file and your repository is behind those changes.

So first fetch upstream from the main repository. The issue will be resolved.
If not then contact mentor in the slack channel he/she will guide you.

[2021-06-11 07:58] QAZIMAAZARSHAD commented on #23
Wrong output when deductions become larger than income

[2021-06-11 08:13] QAZIMAAZARSHAD commented on #36
Will review soon.

[2021-06-11 08:39] skimran2000 opened #40 "Wrong output when deductions become larger than income"
The output is wrong when the deductions amount become larger than the annual income
![Screenshot 2021-06-11 at 1 46 20 AM](https://user-images.githubusercontent.com/78163908/121656824-8261a880-cabd-11eb-8a6d-a24ed85828d3.png)

[2021-06-11 08:43] Lovishk022 commented on #4
Hey! @QAZIMAAZARSHAD Please assign me this issue under LGM-SOC. I resolved it and just want you to see that.

[2021-06-11 08:53] QAZIMAAZARSHAD commented on #4
@Lovishk022 this issue is already assigned to others and has already been resolved.

[2021-06-11 09:02] skimran2000 commented on #40
Issue is not been assigned to be

[2021-06-11 09:06] skimran2000 commented on #40
Do you want the issue solved with my previous macOS update or for normal code
I mean should this issue be resolved with my code containing the macOS resolved code or for your code, since my previous PR is still on hold

[2021-06-11 09:09] QAZIMAAZARSHAD commented on #40
I reviewed you macos update but then application was not working in my system.
I'll try to review it once again.

Always make changes to the updated repository, so don't include your macOS updates.

[2021-06-11 09:18] skimran2000 commented on #40
have you installed the tkmacosx library which i have used
pip3 install tkmacosx

and also have you tried reviewing it in macOS device?

[2021-06-11 09:20] QAZIMAAZARSHAD commented on #40
I don't have macOS device.

[2021-06-11 09:35] akash-rajak commented on #35
@QAZIMAAZARSHAD , I have closed all the previous pull request that have conflicts, and created a new pull request without any conflicts. Please check it.

[2021-06-11 10:21] QAZIMAAZARSHAD commented on #35
Will review soon.

[2021-06-11 11:23] #35 closed

[2021-06-11 11:44] QAZIMAAZARSHAD commented on #23
This will not work.

Make a separate file for macOS users. And add it.

I will merge it.

[2021-06-11 13:10] #36 closed

[2021-06-11 13:32] Prateek027-S opened #49 "Validating the input given by the user in the Annual Income and Exemptions"
If the user enters any character other than  Integer, then it gives a traceback instead of asking the user to correct the input and calculating again.

[2021-06-11 15:14] QAZIMAAZARSHAD commented on #40
Fine,

But still a little issue.
![image](https://user-images.githubusercontent.com/56196640/121708972-b1940c00-caf5-11eb-8f10-03f1594dbb23.png)

Go open a new issue and fix this also.

[2021-06-11 15:15] #40 closed

[2021-06-11 15:23] Umesh-01 opened #51 "Add links to these gifs"
I think these two gifs (see the below image) should contain a links to the related files because there are the chances the anyone can click on them and these are of no use. So it must redirect us to the pages where these files are present.

![image](https://user-images.githubusercontent.com/83420185/121710061-d046d280-caf6-11eb-98f0-36ce97313a70.png)

[2021-06-11 15:24] Umesh-01 commented on #51
@QAZIMAAZARSHAD Should I do these changes??

[2021-06-11 15:26] QAZIMAAZARSHAD commented on #49
Go ahead

[2021-06-11 15:29] QAZIMAAZARSHAD commented on #51
Sure.

[2021-06-11 16:09] akash435 opened #54 "Changing Screenshot of Readme File"
Want to change the screenshot of readme file, as new buttons are added in gui window.

[2021-06-11 16:10] akash-rajak commented on #54
@QAZIMAAZARSHAD , Are we able to do this kind of changes in readme or we are only allowed to do changes in code only?
If yes, then please assign me

[2021-06-11 16:27] QAZIMAAZARSHAD commented on #51
Nothing has changed.

On clicking images it should direct to code of conduct and license page

[2021-06-11 17:24] Umesh-01 commented on #51
Yes it was working

[2021-06-11 17:25] Umesh-01 commented on #51
@QAZIMAAZARSHAD wait let me check...

[2021-06-11 17:28] Umesh-01 commented on #51
Hey @QAZIMAAZARSHAD what that revert PR means??

My PR is working I checked it

Check it here--
https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/pull/52/files?short_path=b335630#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

Here in rich difference you can check, now when clicking on gifs it is taking us to the related page....

[2021-06-11 17:55] #51 closed

[2021-06-11 17:55] Umesh-01 commented on #51
@QAZIMAAZARSHAD sir why this is open, my PR is working...

[2021-06-11 17:56] Umesh-01 commented on #51
sir my contributiion  is working na??

it will be counted??

[2021-06-11 17:56] QAZIMAAZARSHAD commented on #51
yes absolutely

[2021-06-11 17:56] Umesh-01 commented on #51
thank u sir... 🙂

[2021-06-11 17:57] QAZIMAAZARSHAD commented on #51
You can open the same issue in my other two projects, movie streaming website and voters registration portal.

If you want to earn more points.

[2021-06-11 17:58] Umesh-01 commented on #51
Okk sir, thanks for the suggestion.. 🙂
I will do it now...

[2021-06-11 18:00] QAZIMAAZARSHAD commented on #54
Sure, update the screenshots.

[2021-06-11 18:38] akash-rajak commented on #54
@QAZIMAAZARSHAD , I have updated the screenshots in readme file with new screenshots of the updated code. Please check it.

[2021-06-11 19:07] #54 closed

[2021-06-11 19:22] ghost commented on #4
@QAZIMAAZARSHAD If the issue is resolved properly, then please close the issue or add some more points to note.

[2021-06-12 03:23] SanjeevKumar22 opened #58 "Add Contributors.md in Readme"
contributor in readme

[2021-06-12 04:44] jigar-sable opened #60 "Documentation - Add badges in readme"
**Add the following badges in the readme file on top:**
- Issue count
- Star count
- Fork count
- Slack channel link

On click, these badges should open respective pages.

### Additional Context
[shields.io](https://shields.io/) can be used for generating the badges.

### Example
![image](https://user-images.githubusercontent.com/64949957/121765200-d2e11080-cb66-11eb-9c96-f56b74c1523f.png)
![image

[2021-06-12 05:00] QAZIMAAZARSHAD commented on #4
Not closed yet, but will be closed soon.
Assignees have already made the PR.

[2021-06-12 05:01] QAZIMAAZARSHAD commented on #4
This issue is assigned to others and will be closed soon.
Look for any other issues.

[2021-06-12 05:11] QAZIMAAZARSHAD commented on #4
@hellosafwaan and @Prateek027-S both of you, your changes are wrong.

Application crashes after your changes.

Look into this.
I have closed your PR, update your repo with main then make the changes.

[2021-06-12 05:14] QAZIMAAZARSHAD commented on #4
@Prateek027-S, your PR was merged by mistake I have reverted the changes.

This issue is still open.

[2021-06-12 05:21] Lovishk022 commented on #4
@QAZIMAAZARSHAD Please assign to me if it is still open

[2021-06-12 05:22] QAZIMAAZARSHAD commented on #60
Sure.

[2021-06-12 05:47] skimran2000 commented on #40
okay
i have done a mistake in variable name i.e 'tax_save' as 'tax_sav'

i have found another coding mistake in your code:
**'at' is passed instead of 'ta'**

Please say me the issue title to open and rectify the above mistakes

![Screenshot 2021-06-12 at 11 13 08 AM](https://user-images.githubusercontent.com/78163908/121766453-79311400-cb6f-11eb-9de3-e4fd0c3bdb0b.png)

[2021-06-12 06:04] dhruv-varshney commented on #9
Hello @QAZIMAAZARSHAD  i think I can resolve this issue .may you assign me @QAZIMAAZARSHAD

[2021-06-12 06:25] dhruv-varshney opened #62 "Providing email id with proper format"
If the user enters any character other than abc@xyz.com then it does not return any error. It should provide an error like provide proper email id.

[2021-06-12 06:32] Khushijindal24 opened #63 "Mail the details to user about tax calculated"
Sir can i make a mail button .when user will click on it ,it will display the users information with tax calculated for confirmation and then when we will click on ok it will mail that info to user so that in future user can have his tax details using sendgrid or some third party api to send mail.

[2021-06-12 08:12] akash435 opened #68 "Add News & Updates button"
Want to add News and Updates button at top of the starting page
Clicking on this button will take us to website showing latest news and updates of income tax related.

Below is the screenshot, how it look like,
![1](https://user-images.githubusercontent.com/57003737/121769934-ff575580-cb83-11eb-9483-438bd133f9b4.png)

[2021-06-12 08:12] #60 closed

[2021-06-12 08:13] akash-rajak commented on #68
@QAZIMAAZARSHAD , please assign me this under LGM SOC, want to add News & Updates button, on the starting page.

[2021-06-12 08:23] #4 closed

[2021-06-12 08:27] QAZIMAAZARSHAD commented on #62
This issue was already open and has been resolved now.

Before opening any issue make sure that no other similar issue is open.

[2021-06-12 08:27] #62 closed

[2021-06-12 08:28] QAZIMAAZARSHAD commented on #63
Great idea.

Go ahead.

[2021-06-12 08:29] QAZIMAAZARSHAD commented on #68
No need of news and updates in calculator.

[2021-06-12 08:29] #68 closed

[2021-06-12 09:49] jatinjain001 commented on #3
I would like to work on it please assign it to me

[2021-06-12 09:49] jatinjain001 commented on #2
I will like to work on it please assign it to me

[2021-06-12 10:49] QAZIMAAZARSHAD commented on #40
You can open an issue with any name.
I will rectify the title if it is not fine.

You can open issue.

[2021-06-12 10:51] skimran2000 opened #72 "Wrong output"
There are few coding mistakes in the code like below

![Screenshot 2021-06-12 at 11 13 08 AM](https://user-images.githubusercontent.com/78163908/121773556-45b7af00-cb9a-11eb-962a-4e3a08a69d80.png)

[2021-06-12 10:58] QAZIMAAZARSHAD commented on #9
No need now, because we now have a clear button to do the work.

[2021-06-12 10:58] #9 closed

[2021-06-12 11:35] jigar-sable commented on #58
@QAZIMAAZARSHAD Once have look at this I'd made those changes.

- As there was one point in PR template that added yourself as a contributor in readme so that I've made it in tabular format and comment is also there if someone wants to add.

![image](https://user-images.githubusercontent.com/64949957/121774499-4bb08e80-cba0-11eb-920f-3c2133c4364b.png)

[2021-06-12 15:24] Khushijindal24 commented on #63
Hi ,I'm done with functionality I just need a gmail account to link too.

[2021-06-12 16:16] sb25710 commented on #58
Hey is this issue still open, and do you often need documentation help?
I am actively looking for open source work

[2021-06-12 16:32] QAZIMAAZARSHAD commented on #58
This issue is closed @jigar-sable.

[2021-06-12 16:32] #58 closed

[2021-06-12 16:33] QAZIMAAZARSHAD commented on #58
But this design is better, you can open a new issue to update.

[2021-06-12 16:38] #72 closed

[2021-06-12 17:03] jigar-sable commented on #58
Okay

[2021-06-12 17:05] jigar-sable opened #76 "Modify Contributors in README"
- As there was one point in PR template that added yourself as a contributor in readme so that I've made it in tabular format and comment is also there if someone wants to add.

![image](https://user-images.githubusercontent.com/64949957/121774499-4bb08e80-cba0-11eb-920f-3c2133c4364b.png)

[2021-06-12 17:12] QAZIMAAZARSHAD commented on #76
Don't add the project admin section again.

Update only the contributors section.

[2021-06-12 17:12] jigar-sable commented on #76
Sure

[2021-06-12 17:16] jigar-sable commented on #76
![image](https://user-images.githubusercontent.com/64949957/121784118-b6c58980-cbcf-11eb-81d2-546c33207f17.png)

- **Should I update it.. I'll not add it again, just few changes..**

[2021-06-12 17:33] QAZIMAAZARSHAD commented on #76
Okk

[2021-06-12 17:33] QAZIMAAZARSHAD commented on #76
Don't change pic

[2021-06-12 18:01] QAZIMAAZARSHAD commented on #63
I think all the details should be mailed to the user who is using the calculator.

[2021-06-13 03:27] Lovishk022 opened #80 "Bug in the window where user have to enter income ( incomplete or incorrect title)"
As highlighted in the screenshot, the title is incorrect.
![Issue1](https://user-images.githubusercontent.com/67220370/121794366-20bc4e00-cc25-11eb-8249-2d80023dd7c9.png)

@QAZIMAAZARSHAD Please Assign me this issue under LGM-SoC.

[2021-06-13 04:24] Khushijindal24 commented on #63
In order to send the mail we need to add a email and password at our code,than only our service will work

[2021-06-13 05:25] #76 closed

[2021-06-13 05:51] jatinjain001 commented on #3
now you can view my PR. It has no conflicts

[2021-06-13 06:10] QAZIMAAZARSHAD commented on #63
Use your email.
Or create a new one.
Or use a one-time email there are many websites that give temporary emails.

[2021-06-13 06:53] #3 closed

[2021-06-13 06:59] QAZIMAAZARSHAD commented on #7
Everyone @kshitija-2001, @Sakalya100, @SahityaRoy, @ambivert-sam, @techabhi08  who have designed their logo can make PR now.

Create a folder named logo and add your logo in that folder.
No change in code,

[2021-06-13 06:59] Khushijindal24 commented on #63
sir I dont have access to push the code in my branch (branch name: khushi)
I am done with the code please provide me the access

[2021-06-13 07:03] QAZIMAAZARSHAD commented on #63
I don't have that right, you are independent to do all changes in your branch.
Google the query you may get the solution.
Or reach mentors in the slack channel.

[2021-06-13 07:59] Khushijindal24 commented on #63
sir I have generated pull request please check

[2021-06-13 08:23] QAZIMAAZARSHAD commented on #2
Already assigned to @Khushi-sharma07.

[2021-06-13 10:30] #80 closed

[2021-06-13 18:05] shantamsultania opened #88 "Code formating"
I have a Suggestion to make to reformate the code to standard naming conventions for python.

Reason :

Many of the participants are beginners so I think it will be good if we can reformate the code to some extent like some variables are named f1,f2, and so on we can convert the name to frame1,frame2, and so on.

If possible can i can take this to make the code more readable? under LGM-SOC-21

[2021-06-13 18:12] shantamsultania opened #89 "Add Age as a new Paramenter"
As we know age is a crucial parameter while calculating once taxes with the addition of age we can get more relief so i was thinking to add age as a parameter and update the tax calculations also

[2021-06-13 18:25] shantamsultania opened #90 "add multiple Share parameters"
recently I saw that one of the participant had included a share option to email
what I am thinking is to add a multiple share option as we have in our phones nowadays like share to : email, Whatsapp, and others

currently, I have these in mind

1. WhatsApp
2. email
3. friend through message
4. SMS to contact provided

will try to think of more options also.

[2021-06-13 18:26] QAZIMAAZARSHAD commented on #88
Sure

[2021-06-13 18:27] QAZIMAAZARSHAD commented on #89
Go ahead

[2021-06-13 18:37] QAZIMAAZARSHAD commented on #90
Sure

[2021-06-13 18:58] #31 closed

[2021-06-13 19:36] jatinjain001 commented on #1
I would like to work on it , please let me know if it is available

[2021-06-13 19:53] jatinjain001 commented on #1
Will you provide the gif ?

On Mon, Jun 14, 2021 at 1:07 AM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-14 01:04] Lovishk022 commented on #89
I also want to work on that, Pls assign me this issue @QAZIMAAZARSHAD

[2021-06-14 01:55] Lovishk022 opened #91 "Let's capitalize for better look"
Hi there, let me capitalize the 1st letter of each word marked in screen shot.
![issue2](https://user-images.githubusercontent.com/67220370/121829974-9554c280-cce1-11eb-96f9-008ab4027135.png)
Please assign me the issue under LGM-SoC

[2021-06-14 02:18] Lovishk022 opened #92 "Unknown keyword!!!!!!!"
Let me fix that issue:
![Issue 3](https://user-images.githubusercontent.com/67220370/121831291-b834a600-cce4-11eb-9cba-ef33e4e571ed.png)
Please assign me this issue under LGM-SoC.

[2021-06-14 06:28] akash435 opened #94 "Add default text in input field"
Want to add default text in each input field.
And when we put the cursor on the input field to enter input, the default text will automatically will get cleared.

Below are the screenshots showing how it works,

![1](https://user-images.githubusercontent.com/57003737/121848290-7832ea80-cd07-11eb-871e-928907091135.jpg)

now suppose we put cursor on name entry, the default text will get cleared,

![

[2021-06-14 06:28] akash-rajak commented on #94
@QAZIMAAZARSHAD , please assign this to me under LGM SOC, want to enter this default text in each text field

[2021-06-14 07:30] QAZIMAAZARSHAD commented on #1
Use this logo -> https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/blob/main/Logo/Income%20Tax%20calculator.png

Apply some effects.

[2021-06-14 07:42] QAZIMAAZARSHAD commented on #89
Okk go ahead.

But remember first and the better solution will be accepted.

[2021-06-14 10:23] priyanshi5 commented on #7
I would like to work on this issue. please assign it to me under LCM Soc21.

[2021-06-14 11:12] #94 closed

[2021-06-14 11:14] #91 closed

[2021-06-14 11:16] QAZIMAAZARSHAD commented on #7
Issue already resolved.

[2021-06-14 11:16] #7 closed

[2021-06-14 12:30] akash435 opened #100 "upper close button of exit message not working"
Want to correct the error

The right-top close button of exit message is not clickable, so not working.

below if the screenshot showing the bug,

![1](https://user-images.githubusercontent.com/57003737/121892425-5acb4400-cd3a-11eb-939d-dafb511c8538.jpg)

[2021-06-14 12:30] akash-rajak commented on #100
@QAZIMAAZARSHAD , assign this issue to me, I will correct it.

[2021-06-14 13:53] #49 closed

[2021-06-14 13:57] #100 closed

[2021-06-14 14:11] akash435 opened #103 "Another bug with close button"
Earlier the exit dialog box ia appearing only when, exit button is clicked
means , this below button,
![1](https://user-images.githubusercontent.com/57003737/121905162-79840780-cd47-11eb-9024-313a089570b4.jpg)

but i think this exit dialog box must appear, even when tried to exiting(closing) the window using top right corner of main window,
means closing with this shown below,
![2](https://user-im

[2021-06-14 14:12] akash-rajak commented on #103
@QAZIMAAZARSHAD , please assign this to me under LGM SOC, to correct bug.

[2021-06-14 14:39] QAZIMAAZARSHAD commented on #103
Great observation.

[2021-06-14 15:44] #103 closed

[2021-06-14 17:36] #88 closed

[2021-06-14 17:44] Khushi-sharma07 commented on #2
Now I think that "create the logo" pr is merged so I can also create the pr for this issue can you please tell me that which logo is finalised.

[2021-06-14 17:45] Khushi-sharma07 commented on #2
Actually I can see 3 pr merged for the issue.

[2021-06-14 18:33] QAZIMAAZARSHAD commented on #2
Use this logo -> https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/blob/main/Logo/Income%20Tax%20calculator.png

[2021-06-15 00:58] Khushi-sharma07 commented on #2
Okay

[2021-06-15 02:40] #92 closed

[2021-06-15 03:20] akash435 opened #107 "i label to see valid data"
Want to add i label to showing eg. of  valid entry which can be entered,
eg. valid names, valid number , valid email id

it will look like this, on clicking on i label, we get this information
![1](https://user-images.githubusercontent.com/57003737/121987702-a3c0de00-cdb6-11eb-89ed-575b03404541.jpg)

[2021-06-15 03:20] akash-rajak commented on #107
@QAZIMAAZARSHAD , if this can be done , please assign me this under LGM SOC

[2021-06-15 03:34] QAZIMAAZARSHAD commented on #107
Okk fine,

But it is not that necessary so, decrease the size of the 'i' icon.

[2021-06-15 03:49] akash-rajak commented on #107
ok

[2021-06-15 06:05] #107 closed

[2021-06-15 12:08] #2 closed

[2021-06-15 15:14] akash435 opened #110 "Unwanted text appeared"
Want to correct this bug of getting unwanted text,

When we add expedition/deduction > income,
below window appears
![1](https://user-images.githubusercontent.com/57003737/122078413-3181e500-ce1a-11eb-84e2-98bfc29565a8.jpg)

and at this time if we decrease the value of expedition/deduction such that it become less than income, and press calculate button,
we get this unwanted text, shown below,
![2

[2021-06-15 15:14] akash-rajak commented on #110
@QAZIMAAZARSHAD , please assign this me under LGM SOC, i can correct it

[2021-06-15 18:02] #110 closed

[2021-06-15 18:47] jatinjain001 commented on #1
hello , I tried it from my side i need some more help for solve this issue
, When splassh screean is created then whole app  corrupts

On Mon, Jun 14, 2021 at 1:00 PM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-15 18:53] QAZIMAAZARSHAD commented on #1
Reach out to mentors for help in the slack channel.

[2021-06-16 03:59] akash-rajak commented on #1
@QAZIMAAZARSHAD , I know how to add splash screen to this and can do it , so can you please assign me this under LGM SOC.

see below video i have done with some different gif as splash screen,

https://user-images.githubusercontent.com/57003737/122156642-041f5080-ce87-11eb-86b4-85d47b241402.mp4

If this is ok, please assign me and also specify which gif should be used as splash screen as i have do

[2021-06-16 06:35] QAZIMAAZARSHAD commented on #1
Use this logo, https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/blob/main/Final_Logo.gif

Apply some effects also.

[2021-06-16 06:36] akash-rajak commented on #1
means i have to create gif of this logo?

[2021-06-16 06:39] QAZIMAAZARSHAD commented on #1
Do whatever you need to apply some effects, make it move or expand, etc.

[2021-06-16 06:39] akash-rajak commented on #1
ok

[2021-06-16 08:59] Shaishav0507 opened #114 "Minor Error in step 6 of readme file (contribution guidelines)"
Hey @QAZIMAAZARSHAD
There is a minor Error in readme file in Contribution Guidelines section. Please assign it to me.
Thanks

[2021-06-16 09:05] akash-rajak commented on #1
@QAZIMAAZARSHAD , i created this gif please check it,
https://media.giphy.com/media/cWsUVNL59fNnFicLuy/giphy.gif

splash screen will look like this,

https://user-images.githubusercontent.com/57003737/122192438-49587800-ceb1-11eb-9bdf-24f2402d6d84.mp4

is it okay?

[2021-06-16 10:03] QAZIMAAZARSHAD commented on #114
What error?

[2021-06-16 10:04] QAZIMAAZARSHAD commented on #1
Okk fine.

[2021-06-16 10:06] akash-rajak commented on #1
Can i create pr now for this?

[2021-06-16 10:07] QAZIMAAZARSHAD commented on #1
If you are ready.

[2021-06-16 10:07] akash-rajak commented on #1
yes i am

[2021-06-16 10:41] Shaishav0507 commented on #114
Instead of master it should be main branch.

[2021-06-16 10:43] akash-rajak commented on #1
@QAZIMAAZARSHAD , i created the pr, please check it.

[2021-06-16 11:39] QAZIMAAZARSHAD commented on #114
No, it's fine, it's different for a few.

[2021-06-16 11:39] #114 closed

[2021-06-16 11:40] Shaishav0507 commented on #114
@QAZIMAAZARSHAD it's giving error.
If you want the same I don't have any problem

[2021-06-16 11:42] QAZIMAAZARSHAD commented on #1
Make a clean PR, it has too many additions and deletions.

[2021-06-16 11:56] Shaishav0507 opened #117 "Error in contribution guidelines"
Hey @QAZIMAAZARSHAD
There is a error in contribution guidelines.
In step 6 of contribution guidelines, it should be main instead of master
I'm attaching a screen shot of the error.

![Capture](https://user-images.githubusercontent.com/77338581/122214691-0524a200-cec8-11eb-9891-17fee59c5501.PNG)

[2021-06-16 11:57] Shaishav0507 commented on #117
@QAZIMAAZARSHAD
Please assign it to me.
I will make the necessary changes.

[2021-06-16 12:11] QAZIMAAZARSHAD commented on #117
@Shaishav0507 it is different for a few, depends what is the name of your branch main or master, a few of my repo has master repo as default so upstream master works fine, and upstream main gives error.
And vice-versa for few other repos.

[2021-06-16 13:18] #117 closed

[2021-06-17 18:27] Khushi-sharma07 commented on #1
Please check the PR, Ihad created it.

[2021-06-17 19:56] #63 closed

[2021-06-18 02:27] akash435 opened #121 "Final logo not appeared"
Want to correct this bug.

It is like when we click on check tax scheme, it opens new window, whose final logo is not same as other.
do i want to correc this.

below is the screenshot of bug,

![1](https://user-images.githubusercontent.com/57003737/122497373-de22b900-d00a-11eb-974a-b748d3a5e14e.jpg)

[2021-06-18 02:28] akash-rajak commented on #121
@QAZIMAAZARSHAD , please assign this to me under LGM SOC, i can correct this bug

[2021-06-18 02:47] akash435 opened #122 "Incorrect details also getting mailed"
Want to correct this bug,

the bug is suppose we entered incorrect details of income and expedition/deduction, and tried to send this incorrect details  it allows us to send incorrect details also, like this
![2](https://user-images.githubusercontent.com/57003737/122498578-fd224a80-d00c-11eb-9a4a-50ed7d36d03a.jpg)

but instead of this it must show some error when we click on share with email butto

[2021-06-18 02:47] akash-rajak commented on #122
@QAZIMAAZARSHAD , if this issue is valid please assign me under LGM SOC, i can correct this to allow to mail only when details are correct

[2021-06-18 04:04] Lovishk022 opened #123 "Incorrect method of calculating tax"
New tax is calculated on annual income without taking care of deductions while old tax is calculated on annual income - deductions. you can verify here :
![newandoldregime](https://user-images.githubusercontent.com/67220370/122504414-e7fee900-d017-11eb-829a-47ea36f0cbc9.png)
but we are calculating new as well as old tax on annual income - deduction, which is wrong way. Here is the ss of our code:

[2021-06-18 04:49] QAZIMAAZARSHAD commented on #121
Okk,

Correct one more thing, the text in the title bar of learn more popup window is title, rename it to learn more.

[2021-06-18 04:53] akash-rajak commented on #121
ok i will do it.

[2021-06-18 04:57] QAZIMAAZARSHAD commented on #123
@Lovishk022 their are still few exemptions in the new scheme.

What are the exemptions and deductions available under the new regime?

You can claim tax exemption for:
Transport allowances in case of a specially-abled person.
Conveyance allowance received to meet the conveyance expenditure incurred as part of the employment.
Any compensation received to meet the cost of travel on tour or transfer.

[2021-06-18 05:03] QAZIMAAZARSHAD commented on #123
You can still create a new page to calculate exemptions and deductions.

Create a button on the last page to calculate exemptions, upon clicking which user is redirected to another page to calculate exemptions for both new and old tax regimes.

Create a table of exemptions which user has to enter, and for the allowances which are not acceptable in new regime user should not be able to edit that fi

[2021-06-18 05:14] #121 closed

[2021-06-18 06:20] #122 closed

[2021-06-18 06:21] akash435 opened #126 "Another bug with sending with email"
The bug is,
when we have entered the correct details and calculated, then if we click on share with email button, we get message like this,
![5](https://user-images.githubusercontent.com/57003737/122514717-0241c280-d02a-11eb-9e8e-a902f8e87aa1.jpg)

Now in this , the emails are sent in both cases, either we click on OK button or close the dialog box,
but it will work like this
if we click on OK the

[2021-06-18 06:22] akash-rajak commented on #126
@QAZIMAAZARSHAD , if this is OK, then please assign me this under LGM SOC, can correct all the above mentioned things.

[2021-06-18 06:23] QAZIMAAZARSHAD commented on #126
Sure,

Also rename OK to "Send to email"

[2021-06-18 06:38] akash-rajak commented on #126
Just want to tell that we can't change the text from OK or cancel to any other text we want  in the message box, as all the message box are predefined.
So we can't put our own text in button of message box

[2021-06-18 07:01] #1 closed

[2021-06-19 06:24] nisha331 opened #130 "Add score card of LGMSOC in readme"
![1](https://user-images.githubusercontent.com/76838660/122633220-f969f300-d0f4-11eb-8e7d-a4dabb9eb4ad.PNG)
kindly assign it to me

[2021-06-19 08:01] QAZIMAAZARSHAD commented on #130
Fine.

Add it just beside the Let's Grow More logo.

[2021-06-19 11:28] Shaishav0507 commented on #20
@QAZIMAAZARSHAD
I tried  https://shaishav0507.github.io/Income-Tax-Calcultor/
Its better than putting agian github repo link in description
If you feel like it is better than the current option, Please go ahead

[2021-06-19 13:16] QAZIMAAZARSHAD commented on #20
Okk

[2021-06-19 13:16] #20 closed

[2021-06-20 05:02] #126 closed

[2021-06-20 13:34] rammya29 opened #132 "Create a pdf Generator at last"
We can add a button at the last to download in the form of a pdf. Can we do that here?

[2021-06-20 13:45] QAZIMAAZARSHAD commented on #132
Go ahead.

PDF should include every detail, user details, and tax details.

And the logo of the application in PDF also.

[2021-06-20 14:54] rammya29 commented on #132
I am unable to download Splash Screen.gif. How to do it?

[2021-06-20 15:06] QAZIMAAZARSHAD commented on #132
Can't understand

Are you not able to run the application?

[2021-06-20 15:15] rammya29 commented on #132
Yes, I am trying to run

[2021-06-20 15:17] QAZIMAAZARSHAD commented on #132
Is the application opening?

[2021-06-20 15:41] rammya29 commented on #132
No sir, I am trying to run  in colab

[2021-06-20 15:50] QAZIMAAZARSHAD commented on #132
I never tried this application on colab.
Use idle.

Search your error on StackOverflow or reach out to mentors for help in the slack channel.

[2021-06-20 15:56] rammya29 commented on #132
for running I need that image splash screen.jpg. how to get it?

[2021-06-20 15:58] QAZIMAAZARSHAD commented on #132
Just download the zip file.

You will get the entire folder. Take the images you need.

[2021-06-22 04:05] #130 closed

[2021-06-22 05:02] rammya29 commented on #132
Can anyone say how to upload image?

[2021-06-22 05:48] QAZIMAAZARSHAD commented on #132
Use git. (Watch video on youtube)

Other way (shortcut) ->
![image](https://user-images.githubusercontent.com/56196640/122870561-72628800-d34b-11eb-88e4-b23e53bc0346.png)

[2021-06-22 07:04] Knighthawk-Leo opened #135 "We can improve the UI of Tax Calculator page"

[2021-06-22 08:12] QAZIMAAZARSHAD commented on #135
Go ahead.

But I will accept the changes only if I like it.

[2021-06-22 08:31] #132 closed

[2021-06-22 08:36] QAZIMAAZARSHAD opened #136 "Change the position of pdf button"
Shift the PDF button at the bottom with other buttons.

The space between all the buttons should be equal.

Rename PDF to Generate PDF.

[2021-06-22 08:38] QAZIMAAZARSHAD opened #137 "Add a pop up when clicking PDF button"
Pop up should display a "PDF downloaded" message.

[2021-06-22 09:37] rammya29 commented on #136
Assign this to me. I changed the code to the specification mentioned above

[2021-06-22 10:37] jigar-sable commented on #137
Assign this issue to me. I will add the code as per the specification mentioned above.

[2021-06-22 12:08] #136 closed

[2021-06-22 14:30] akash435 opened #140 "Get message on generating PDF"
When user clicks on the Generate PDF button the PDF gets generated in the folder of without giving any message.

So, want to add this message box showing message to user that Automated PDF generated successfully.

like this,

![1](https://user-images.githubusercontent.com/57003737/122942798-16702180-d394-11eb-9fd8-9a207c642113.jpg)

[2021-06-22 14:31] akash-rajak commented on #140
@QAZIMAAZARSHAD , please assign this to me under LGM SOC, can add this message box.

[2021-06-22 14:51] QAZIMAAZARSHAD commented on #140
This issue is already open https://github.com/QAZIMAAZARSHAD/Income-Tax-Calcultor/issues/137.

[2021-06-22 14:51] #140 closed

[2021-06-23 04:33] #137 closed

[2021-06-23 18:43] supzi-del opened #142 "Add final logo in readme"
A project should have the logo displayed in the readme so that it has an identity.

[2021-06-23 18:44] supzi-del commented on #142
I would like to work on this under LGMSOC.

[2021-06-23 19:29] akash435 opened #143 "Adding Virtual Keypad"
Can I add virtual keypad beside every entry label, clicking on which opens a pop up virtual keypad, and we can add input using that virtual keypad.

here if user wants to enter input using virtual keypad, then clicking on that he/she can do that.

Below is the screenshot :
![1](https://user-images.githubusercontent.com/57003737/123156346-ce7df700-d486-11eb-9ba8-aa7045fc370c.jpg)

Below is link to

[2021-06-23 19:30] akash-rajak commented on #143
@QAZIMAAZARSHAD , if we can add this virtual keypad, then pleas assign this to me under LGM SOC.

[2021-06-24 06:42] #143 closed

[2021-06-24 07:45] #142 closed

[2021-06-24 09:13] akash435 opened #146 "Removing unnecessary characters and changing keypad logo"
In this i will modify the keypad button in such a way, that
in case of entering only alphabets will come ,
in case of phone numbers, exemption/deduction and income , keypad with only digits will popup
and in case of email if, keypad with alphabets, digits and extra character '@' and '.'  will popup.

And also change the keypad button to keypad logo.

below are screenshots :
In case of name,
![1](h

[2021-06-24 09:14] akash-rajak commented on #146
@QAZIMAAZARSHAD , assign this to me under LGM SOC, can modify like this

[2021-06-24 09:16] QAZIMAAZARSHAD commented on #146
decimal also in income and deductions.

[2021-06-24 09:17] akash-rajak commented on #146
when we put decimal in income, it gives error message, like only integer is to be entered

[2021-06-24 09:18] QAZIMAAZARSHAD commented on #146
okk fine

[2021-06-24 11:25] #146 closed

[2021-06-28 16:29] QAZIMAAZARSHAD commented on #89
@shantamsultania and @Lovishk022 are you guys working on it?

[2021-06-28 16:29] QAZIMAAZARSHAD commented on #90
@shantamsultania any updates?

[2021-06-28 16:29] QAZIMAAZARSHAD commented on #123
@Lovishk022 any updates?

[2021-06-28 16:30] QAZIMAAZARSHAD commented on #135
@Knighthawk-Leo any updates?

[2021-06-28 16:30] QAZIMAAZARSHAD commented on #23
@skimran2000 any updates?

[2021-06-28 17:10] Knighthawk-Leo commented on #135
I am thinking that we can improve UI busing pyside or kivy module these are better than tkinter can I do that

[2021-06-28 23:53] QAZIMAAZARSHAD commented on #135
This application is based on tkinter, don't use kivy or any other framework.

[2021-06-30 11:53] Lovishk022 commented on #123
@QAZIMAAZARSHAD Working on that, need some more time, exams are going on.

[2021-07-01 11:32] supzi-del opened #148 "Typo in git code in readme"
"maim" should be replaced by "main" [git pull upstream maim] on 6th point

[2021-07-01 11:55] #148 closed

[2021-07-05 07:13] PrathmeshMutke opened #151 "Update on LearnMoreReadme.txt"
I want to add some extra text in LearnMoreReadme.txt
Please assign me this issue.
LGM SOC 2021

[2021-07-05 08:05] #151 closed

[2021-07-10 13:13] #23 closed

[2021-07-10 13:15] QAZIMAAZARSHAD commented on #135
@Knighthawk-Leo should I close this issue or you are working on it?

[2021-07-10 13:17] #90 closed

[2021-07-10 13:25] Knighthawk-Leo commented on #135
You can close the Issue.

[2021-07-10 13:36] #135 closed

[2021-07-11 13:53] manasb15 opened #153 "update pull_request_template"
In pull_request_template.md
Change
Issue Number with
Fixes #(issue number) so that issue automatically get close on successful merge of PR

@QAZIMAAZARSHAD Please assign me this under DCP21

[2021-07-11 14:12] #153 closed

[2021-07-12 06:20] manasb15 opened #155 "Update pull_request_template.md"
This point in the checklist :

(I have added my name in the contributors list at the end of README.md file.)

is obsolete. So it is wise to remove it.

@QAZIMAAZARSHAD please assign this to me under DCP21

[2021-07-12 06:41] QAZIMAAZARSHAD commented on #155
Yesterday you said it helps you in remembering git commands.

I want to tell, you can do these changes without using git quickly.
Just open the pull request template file in your repo, remove the line, commit changes, make PR. And its done.

[2021-07-12 06:44] manasb15 commented on #155
@QAZIMAAZARSHAD Yes I know that method as well but I heard that it was like a shortcut or bad practice.

[2021-07-12 06:47] QAZIMAAZARSHAD commented on #155
Yaa in the case of many changes it causes difficulty in merging and few other problems like unnecessary indentations etc.

[2021-07-12 06:49] manasb15 commented on #155
@QAZIMAAZARSHAD Ok then i will update it online for these small changes

[2021-07-12 08:03] #155 closed

[2021-07-15 04:50] akash-rajak commented on #89
@QAZIMAAZARSHAD , can you please tell me like in this adding age as a new parameter means what?. So that i can try for doing this issue.

[2021-07-15 07:36] QAZIMAAZARSHAD commented on #89
​​​Senior citizens and very senior citizens are granted a higher exemption limit as compared to normal taxpayers.

Study the rules for this.
And implement this in the application for a certain age group tax calculation should be different.

[2021-07-15 07:37] QAZIMAAZARSHAD commented on #89
Should I assign you are you willing to take the challenge?

[2021-07-15 07:48] akash-rajak commented on #89
Means we have to take age of the tax payer also as an input along with name, email id, and contact no. and calculate the tax according to age also.
like for senior citizen we have to use higher exemption limit.

If this is, then you  can assign me?

[2021-07-15 07:50] QAZIMAAZARSHAD commented on #89
Yes.

But add age input on the tax calculation page.
Not with name, email, etc.

[2021-07-15 07:51] QAZIMAAZARSHAD commented on #89
Under LGMSoC or DCP?

[2021-07-15 07:52] akash-rajak commented on #89
LGM SOC

[2021-07-20 07:19] QAZIMAAZARSHAD commented on #123
@Lovishk022 any updates?

[2021-07-21 17:59] akash-rajak commented on #89
@QAZIMAAZARSHAD I searched a lot for this but didn't able to get any website with tax calculation with ages.
So you can unassign me from this.

Also  want to ask if we can add something like text to speech, like user can also have option to get speech output , then i can create an issue for this?

[2021-07-22 06:11] QAZIMAAZARSHAD commented on #89
Sure if you can do this?

You can also work on the other issues which are already open https://github.com/QAZIMAAZARSHAD/Income-Tax-Calculator/issues/123 and https://github.com/QAZIMAAZARSHAD/Income-Tax-Calculator/issues/157.

[2021-07-22 06:11] #89 closed

[2021-07-22 06:13] QAZIMAAZARSHAD opened #157 "Create a section in Readme "How to run the application""
It should include installing python.

Libraries needed to be installed, etc.

[2021-07-22 06:15] QAZIMAAZARSHAD opened #158 "Update the screenshots in the readme"

[2021-07-22 06:19] QAZIMAAZARSHAD opened #159 "Update the video in the readme"
The video should include each and every single function available in the application.

Only the full application window should be present in the video.

Video must be of good quality.

Speed should be 1.5x in the video.

Video size should be less than 5MB.

[2021-07-22 12:21] akash-rajak commented on #158
@QAZIMAAZARSHAD you can assign me for this

[2021-07-22 12:22] akash-rajak commented on #157
@QAZIMAAZARSHAD you can assign me for this

[2021-07-22 15:18] #158 closed

[2021-07-22 16:17] deek121477 commented on #159
I can work on this issue

[2021-07-22 17:14] QAZIMAAZARSHAD commented on #159
Under DCP or LGMSoC?

[2021-07-22 18:14] #157 closed

[2021-07-23 03:07] deek121477 commented on #159
LGMSoC

[2021-07-25 15:08] QAZIMAAZARSHAD commented on #159
@deek121477 any updates?

[2021-07-25 15:27] deek121477 commented on #159
working on it

[2021-07-27 05:48] Swethashub-source opened #162 "Window can't be made to full screen or diminish it"
The total window for every screen we enter can't be enlarged using restore and minimize buttons on the right last corner

[2021-07-27 06:09] QAZIMAAZARSHAD commented on #162
Yes.

If we enlarge or diminish the window size it will disturb the contents.

We can also arrange the content according to the window size but since there is not much content for large window size, the current size is fine.

[2021-07-27 06:09] #162 closed

[2021-08-01 03:47] QAZIMAAZARSHAD commented on #159
@deek121477 it has been 10 days since you were assigned, any updates?

[2021-10-01 10:23] QAZIMAAZARSHAD opened #163 "Add hacktoberfest 2021 logo in Readme"
Add it in the Programs we have been associated with section.

[2021-10-01 10:44] codewith-arijit commented on #163
Submitted my PR For Hacktoberfest 2021. Please assign it to me.

[2021-10-01 10:44] #163 closed

[2021-10-01 10:47] QAZIMAAZARSHAD commented on #163
You have to first ask for an assignment then start working.

Fine.
No worries, I have merged your PR.

[2022-10-16 07:21] rajsagare14 opened #165 "Another Logo for IncomeTaxCalculator"

[2022-10-26 11:13] Amritpal985 commented on #159
Hi, I would like to work on this issue, Please assign this to me under hacktoberfest2022

[2022-10-26 16:22] Amritpal985 commented on #159
Can I add my voice while explaining?

[2022-10-26 16:29] QAZIMAAZARSHAD commented on #159
Yaa sure,

Note:

[2022-10-26 16:31] QAZIMAAZARSHAD commented on #159
Add the video in the readme and that should appear as a video with play button.

Not like as it is now l, with a link to download it.